/* orange color:#e67e22 */
/* Basic Setup */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* Reuseable components */
/* header */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* heading */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.701)), to(rgba(0, 0, 0, 0.701))), url(img/hero-bc-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.701)), url(img/hero-bc-min.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

h1,
h2,
h3 {

  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 230%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 120%;
  margin-bottom: 15px;
}

/* paragraphs */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  line-height: 145%;
  font-size: 90%;
  /* text-align: justify; */
}

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  text-align: center;
  width: 30px;
  color: #e67e22;
  font-size: 120%;
  /*  icon 属于一种font */
  margin-right: 6px;
  vertical-align: middle;
  margin-top: -4px;
  line-height: 120%;
}


.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;

}

.btn-ghost:hover,
.btn-ghost:active {
  border: 2px solid #cf6d17;
  color: #fff;
}

/* ---nav */

.logo {
  width: auto;
  height: 100px;
  float: left;
  margin-top: 15px;
}

.logo-black {
  display: none;
  width: auto;
  height: 50px;
  float: left;
  margin: 5px 0;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {

  display: inline-block;
  margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* mobile-nav-icon */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}
.mobile-nav-icon ion-icon{
  font-size: 200%;
  color: #fff;

}
/* sticky nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.968);
  box-shadow: 0 2px 2px rgb(240, 240, 240);
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 18px 0;
  color: #555;
}


.sticky .logo-black {
  display: block;
}

.sticky .logo {
  display: none;
}


/* section-features */
.long-copy {
  margin-bottom: 30px;
}

/* meals-showcase */

.section-meals {
  padding: 0px;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  /* display: block; */
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: #000000;
}

.meal-photo img {
  width: 100%;
  height: 320px;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  opacity: 0.7;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  opacity: 1;
}

/* section-steps */
.section-steps {
  background-color: rgb(240, 240, 240);
}

.steps-box {
  margin-top: 30px;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;

}

.app-screen {
  width: 40%;
  height: auto;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  /* display: inline-block; */
  border: 2px solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  float: left;
  margin-right: 20px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* city features  */

.city img {
  width: 100%;
  /* 这里的宽度指的是是父亲宽度的百分之多少。 */
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 10px;
}

.city-feature a:link,
.city-feature a:visited {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  -webkit-transition: color 0.2s, border-bottom 0.2s;
  transition: color 0.2s, border-bottom 0.2s;
}

.city-feature a:hover,
.city-feature a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* section-testimonials */
.section-testimonials {
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.701)), to(rgba(0, 0, 0, 0.701))), url(img/back-customers-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.701)), url(img/back-customers-min.jpg);
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 10px;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -4px;
  left: -3px;
}

cite {
  display: block;
  font-size: 90%;
  margin-top: 10px;
}

cite img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* section-plans */
.section-plans {
  background-color: rgb(240, 240, 240);
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px rgb(242, 242, 242);
  box-shadow: 0 2px 2px rgb(242, 242, 242);
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgb(225, 225, 225);

  /* padding-right: 3%; */
}

.plan-box div:first-child {
  background-color: rgb(250, 250, 250);
  /* text-align: center; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  /* 这里的font-size百分比是针对父标签（.plan-price） 来说的， 不是针对initial font size来说 */
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

.contact-form {
  width: 60%;
  /* margin-left: 20%; */
  margin: 0 auto;
}
.form-messages {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #303030;
}

.success {
  background-color: rgb(23, 184, 82);
}

.error {
  background-color: rgba(209, 20, 20, 0.824);
}
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgb(228, 228, 228);
}

textarea {
  height: 150px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* footer */
footer {
  background-color: rgb(60, 60, 60);
  padding: 40px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;

}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
  /* margin-bottom: 20px; */
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0px;
}



.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #8a8a8a;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:active {
  color: rgb(220, 220, 220);
}

footer p {
  color: #8a8a8a;
  text-align: center;
  margin-top: 30px;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

ion-icon[name=logo-facebook],
ion-icon[name=logo-google],
ion-icon[name=logo-twitter],
ion-icon[name=logo-instagram] {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

ion-icon[name=logo-facebook]:hover,
ion-icon[name=logo-facebook]:active {
  color: #3b5998;
}


ion-icon[name=logo-twitter]:hover,
ion-icon[name=logo-twitter]:active {
  color: #55acee;
}

ion-icon[name=logo-google]:hover,
ion-icon[name=logo-google]:active {
  color: #dd4b39;
}

ion-icon[name=logo-instagram]:hover,
ion-icon[name=logo-instagram]:active {
  color: #8a3ab9;
}

/* animations */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-4 {
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}